.hover:hover{
     background-color: cadetblue;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    

}
nav a{
    text-decoration: none;
    color: black;
}
nav button{
    border-radius: 10px;
    background-color: #469165;
    color: aliceblue;
    padding: 10px;
    cursor: pointer;
    height: 60px;
    width: 200px;
}

/* banner part */
.banner{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: auto;
   background-image: url("/Media/hero-bg.png");
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   
}
.Structured{
    font-size: 5em;
}
.white{
    color: aliceblue;
}
.note-taking{
    color:#469165 ;
}
.private{
    color: aliceblue;
    font-size:large;
}
.access{
    padding: 10px;
    width: 280px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    color:#469165 ;
}
.banner button{
    padding: 20px;
    border-radius: 5px;
}
.vault{
    background-color:#469165 ;
}
.works{
    background-color: transparent;
    color: aliceblue;
    border: 2px solid white;
}

/* section 2 */
.learn{
      
      text-align: center;
}
.fail{
    font-size: 3em;
    font-weight: bold;
}

.build{
    color: #627382;
}

/* card section */
.card-container{
   justify-content: center;
   align-items: center;
    display: flex;
    gap: 30px;
}
.card{
    border: 3px solid whitesmoke;
    box-shadow: #627382;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}
.card img{
    margin-top: 50px;
    background-color: brown;
    border-radius: 50%;
    padding: 20px;
}

.card-para{
    color: #627382;
}

/* section - 03 */
.CheckCircle{
    display: flex;
    gap: 10px;
}
.CheckCircle img{
    width: 30px;
    height: 40px;
}
.solution{
    color:#469165 ;
}
.second-brain{
    font-size: 4em;
}

.second-brain-pera{
    color: #627382;
    font-size: 1,25em;
}

.second-brain-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.brain-container{
    padding: 20px;
}

/* section - 04 */

.clear-think{
    text-align: center;
    background-color: #F7F6F2;
    padding: 30px;
}
.ready{
    font-weight: bold;
    font-size: 3em;
}

.ready-pera{
    color: #627382;
}
.ready-button{
    background-color: #469165;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

/* footer */

.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 900px;
}

.socials{
    display: flex;
    gap: 10px;
}
.copy{
    text-align: center;
    color: #F7F6F2;
}
.footer h4{
    color: #F7F6F2;
}

.footer i{
    background-color: #F7F6F2;
}

.footer-color{
    background-color: #001931;
}
